@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Ивайло Ковачев</i> на <i>20-11-2016</i> </div>
        <div class="body">
            <p>Малко текст.Дрън,дрън...</p>
        </div> 
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Ивайло Ковачев</i> на <i>20-11-2016</i> </div>
        <div class="body">
            <p>Малко текст.Дрън,дрън...</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Ивайло Ковачев</i> на <i>20-11-2016</i> </div>
        <div class="body">
            <p>Малко текст.Дрън,дрън...</p>
        </div>
    </article>
</section>




